---
const pageTitle = "About Me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/software-mental models/">Software Mental Models</a>
    <h1>{pageTitle}</h1>
    <p>Under Construction, check back soon!</p>

  </body>
</html>
