---
import Layout from "../layouts/base_layout.astro"
const page_title = "About Me";
---
<Layout pageTitle={page_title}>
  <p>Here is some info about the author of this site, Justin Hill:</p>
  <h2>Professional</h2>
  <p>Todo</p>
  <h2>Personal</h2>
  <p>Todo</p>
</Layout>
