---
import { Icon } from 'astro-icon/components';
import Layout from "../layouts/base_layout.astro";
const page_title = "About Me";
---
<Layout pageTitle={page_title}>
  <p>Here is some info about the author of this site, Justin Hill:</p>
  <h2>Contact Info</h2>
  <p>If you need to reach me, I prefer email: <Icon name="lucide:mail" /> <a href="mailto:justin@jmhill.dev">justin@jmhill.dev</a>
  <h2>Professional Bio</h2>
  <p>My current work as a software engineer is the latest - and longest lasting - stop on a twisting path that started years ago in southeastern Virginia.</p>
  <p>I grew up near the historic sites of Yorktown, Jamestown, and Colonial Williamsburg, and completed my BA in Anthropology with a focus in Archaeology at the College of William and Mary.<p>
  <p>After graduating (and realizing that I had no interest in developing a career in academia or continuing on as a field archaeologist) I moved on to other pursuits and resettled in the New River Valley, where my wife was studying aerospace and ocean engineering at Virginia Tech.</p>
  <p>While living in Blacksburg, I obtained my MS in Education with a focus on Secondary Social Studies education. While my wife was finishing her degree, I had a short stint teaching back home on the Peninsula, where I taught multiple subjects as part of the first online education program at Hampton City Schools.</p>
  <p>Finally, as my wife began working as an ocean engineer and naval architect, we moved to northern Virginia, where my experience as an educator helped me succeed in various roles in the education technology and charitible giving spaces.</p>
  <p>Throughout this process and its many turns, one constant was my interest in computers and internet technology. I remembered growing up and going to the local computer shop, picking out the 133 megahertz processor and 56k modem that would be part of my first computer. I also remember feeling like a wizard the first time I managed to cobble together enough html to deploy my first gaudy, blink-tag-riddled website via ftp.</p>
  <p>I decided that the best way to learn more about how to fix the problems I had observed in the education technology world would be to become a programmer and engineer myself.</p>
  <p>After considerable study, I took my first job writing code and building web applications. I kept growing and learning, and years later I finally found my way back into education technology, where I helped build out a product designed to screen children for risk of dyslexia in a fun, game-based format.</p>
  <p>I'm not sure where my next stop is going to be, but I'm honored to have the opportunity to build a career that combines my love of technology with my desire to help and uplift others.</p>
  <p>My dream and personal mission is to use technology to build alternatives to traditional schooling that arm young people with the background, skills, and hands-on experience necessary to build strong, healthy families - and a free and prosperous society.</p>
</Layout>
