---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <a href="/about">About</a>
  <a href="/software-mental-models">Software Mental Models</a>
  <div style="margin: 5px; color: white;">Under construction, check back later!</div>
</Layout>
