---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/base_layout.astro';
---

<Layout pageTitle="jmhill.dev">
  <h2>Welcome!</h2>
  <p><Icon name="lucide:construction" /> Note: This site is a work-in-progress! <Icon name="lucide:construction" /></p>
  <p>I'm putting together a list of interesting (to me) mental models used in the software development world. <a href="/software-mental-models/">Check it out!</a></p>
  <p>Or, head over to the <a href="/about/">About page</a> if you want to know a bit more about me.</p>
</Layout>
