---
import Layout from '../layouts/Layout.astro'
---

<h1>Mental Models in Software Engineering</h1>

<p>Over the course of my career, I've found the following mental models to be useful when describing different approaches to software engineering.</p>

<p>More coming soon...</p>
