---
import { Icon } from 'astro-icon/components';
const { url, platform_name, icon } = Astro.props
---
<div class="link">
  <a href={url}>{ icon && <Icon name={icon} /> }{platform_name}</a>
</div>
<style>
  a {
    color: #24283b;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .link {
    padding: 0.5rem 1rem;
    background-color: #7aa2f7;
    border-radius: 10px;
  }
</style>
